#root {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.credits {
  display: flex;
  justify-content: center;
}